<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Dashboard</title>
</head>
<body>
    <h1>Welcome to Go Threads</h1>
    <p>Select a company type :</p>
    
    <div>
        <a href="{% url 'car_company_list' %}"><button>Car Companies</button></a>
        <a href="{% url 'hotel_company_list' %}"><button>Hotel Companies</button></a>
        <a href="{% url 'medical_company_list' %}"><button>Medical Companies</button></a>
        <a href="{% url 'lifestyle_company_list' %}"><button>Lifestyle Companies</button></a>
        <a href="{% url 'online_courses_company_list' %}"><button>Online Courses</button></a>
        <a href="{% url 'baby_care_company_list' %}"><button>Baby Care Companies</button></a>
        <a href="{% url 'services_company_list' %}"><button>Services Companies</button></a>
        <a href="{% url 'air_company_list' %}"><button>Air Companies</button></a>
        <a href="{% url 'bus_company_list' %}"><button>Bus Companies</button></a>
        <a href="{% url 'train_company_list' %}"><button>Train Companies</button></a>
        <a href="{% url 'resort_company_list' %}"><button>Resort Companies</button></a>
        <a href="{% url 'shopping_company_list' %}"><button>Shopping Companies</button></a>
        <a href="{% url 'vehicle_list' %}"><button>Vehicles</button></a>
        <a href="{% url 'doctor_list' %}"><button>Doctors</button></a>
    </div>
</body>
</html>
